.block-name__decoration-line {
  height: 1px;
  width: 100%;
  background: #DADADA;
}

.block-name__title {
  margin: 0 0 23px;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}


@media screen and (max-width: 390px) {
  .block-name__title {
    margin: 0 0 27px;
    font-size: 18px;
    line-height: 22px;
  }
}
